# Node modules
node_modules/

# Ignore the node_modules in both client and server
client/node_modules/
server/node_modules/

# Dependency directories
client/package-lock.json
server/package-lock.json
client/yarn.lock
server/yarn.lock

#Environment Variables
.env

# Google Cloud credentials file
credentials.json


.DS_Store