/* ./css/AboutMe1.css */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
.home-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;            /* Full height of the viewport */
  background-color: #f6f1e5; /* Light background color */
  text-align: center;
  padding: 0 20px;
}

.logo-container {
  max-width: 500px;         /* Restrict the width */
  text-align: center;
  margin-bottom: 25vh;

}

.logo-image {
  width: 320px;
  height: 396px;

}


.description {
  font-family: 'Questrial', sans-serif; /* You can use any clean font like Arial */
  font-size: 18px;
  color: #686565;
  line-height: 1.6;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
}

/* Container ของจุด indicator */
.indicator {
  position: absolute;
  top: 70vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* ระยะห่างระหว่าง dot */
  margin-top: 20px;
}

/* รูปร่างของ dot */
.dot {
  width: 12px;
  height: 12px;
  background-color: #d3d3d3; /* สีเทาอ่อน */
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

/* dot ที่แอคทีฟ (หน้าปัจจุบัน) */
.dot.active {
  background-color: #FE9801; /* สีส้มเหมือนปุ่ม */
}


.get-started-button {
  font-family: 'Manrope', sans-serif;
  letter-spacing: 2px;
  background-color: #FE9801;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  padding: 14px 28px;
  border: none;
  border-radius: 999px; /* ทำให้โค้งมนสุดๆ */
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 10vh; /* ย้ายปุ่มขึ้นมาจากขอบล่าง 50px */
  left: 50%;
  transform: translateX(-50%);
}


.get-started-button:hover,
.get-started-button:active {
  background-color: #E08700; /* เข้มขึ้นนิดเดียว */
}