/* src/css/App.css */

.App {
  max-width: 800px;
  height: auto;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.App-header {
  background-color: #FBF6EE;
  width: 100%;   /* Make header take full width of App */
  height: 100%;  /* Make header take full height of App */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5e5d5d;
  padding: 0; 
  outline: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  margin: 0; 
  box-sizing: border-box; 
}
