.camera-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    z-index: 1000;
    overflow: hidden;
}

.flash-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.9; /* Brightness of the flash */
    z-index: 1100; /* Ensure it overlays everything */
}

@keyframes flash-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}

.webcam-view {
    flex: 1;
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: scale(1);
}

.captured-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.camera-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 101;
}

.toolbar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    bottom: 0;
    align-items: center;
}

.capture-button, .retake-button, .close-button, .toggle-camera-button {
    font-size: 16px;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.flash-button {
    font-size: 20px;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flash-button img {
    width: 2em;
    height: 2em;
}

.flash-on {
    color: yellow;
}
