/* src/css/index.css */

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  background-color: #FBF6EE;
}

code {
  font-family: 'Manrope', sans-serif;
}
