/* IngredientPreview.css */

/* Container for the ingredient preview */
.ingredient-preview-container {
  padding: 20px;
  max-width: 600px;
  margin: 10%;
  margin-top: 0;
}
.ingredient-item span{
  font-size: 1.75vh;
}
/* Header styling */
.ingredient-header {
  text-align: center;
  margin-bottom: 2vh;
  font-size: 3vh;
}

/* Ingredient list styling */
.ingredient-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Individual ingredient item */
.ingredient-preview-container .ingredient-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
  margin-bottom: 1vh;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Content inside the ingredient item */
.ingredient-preview-container .ingredient-content {
  display: flex;
  align-items: center;
}

/* Ingredient icon styling */
.ingredient-preview-container .ingredient-icon {
  width: 3.5vh;
  height: 3.5vh;
  margin-right: 15px;
}

/* Ingredient name styling */
.ingredient-preview-container .ingredient-name {
  font-size: 2vh;
  font-weight: 500;
}

/* Actions (edit and delete buttons) */
.ingredient-preview-container .ingredient-actions {
  display: flex;
  gap: 10px;
}

/* Edit and delete button styling */
.edit-btn,
.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5vh;
}

/* Confirm button styling */
.confirm-btn {
  margin-top: 20%;
  display: block;
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #FFA500;  /* Green background */
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1.5vh;
  cursor: pointer;
}

.confirm-btn:hover {
  background-color: #218838; /* Darker green on hover */
}
.ingredient-edit-input {
  padding: 1px;
  font-size: 1.75vh;
  margin-right: 1vh;
}

.save-btn, .cancel-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 2vh;
  margin-left: 5px;
}

.edit-btn img, .delete-btn img {
  width: 3.5vh;
  height: 3.5vh;
}

.ingredient-icon {
  width: 3.5vh;
  height: 3.5vh;
  margin-right: 10vh;
}
