/* MenuSuggestion.css */

.menu-suggestion-container {
    padding-left: 4.5%;
    padding-right: 4.5%;
    background-color: #fdf7f1;
    min-width: auto;
    margin: 0 auto;
    border-radius: 16px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.menu-suggestion-container h1 {
    font-size: 3vh;
    font-weight: 600;
    margin-bottom: 3vh;
    margin-top: 3vh;
    color: #333;
    text-align: left; /* Left-align title like in the example */
}
.menu-header-container{
    padding-top: 3.75vh;
    padding-bottom: 0.375vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; /* This ensures the list stretches to fill available space */
}

.menu-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3vh;
    padding-bottom: 3vh;
    padding-top: 1.5vh;
    border-bottom: 1px solid rgba(105, 124, 55, 0.5);
    transition: transform 0.1s;
}

.menu-item:hover {
    transform: translateY(-2px);
}

.menu-image {
    margin-left: 1.5vh;
    flex-shrink: 0; /* Prevent the image from shrinking */
    width: 15vh;
    height: 15vh;
    object-fit: cover;
    margin-right: 3vh; /* Add some space between the image and the text */
    border-radius: 20px;
    border: 1px solid #e6e6e6;
}

.menu-details {
    padding-top: 1vh;
    display: block; /* Ensure the text takes the remaining space */
    flex-grow: 1; /* Grow to take up available space */
    overflow: hidden; /* Prevent the text from overflowing */
    text-align: left; /* Align text to the left */
}

.menu-details h2 {
    margin: 0;
    font-size: 2.25vh;
    font-weight: 500;
    color: #222;
}

.menu-details p {
    margin: 3px 0;
    font-size: 1.8vh;
    color: #777;
}

.menu-suggestion-container button:hover {
    color: #d12d42;
}
