/* src/css/Navbar.css */


.navbar {
  position: fixed;
  bottom: 2%; /* Keeps the navbar 2% above the bottom */
  left: 0; /* Aligns the navbar starting from the left edge */
  right: 0; /* Aligns the navbar ending at the right edge */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #4F4A45;
  padding: 1em; 
  border-radius: calc(40px + 5vmin);
  width: 90%; /* Ensures the navbar spans the necessary width */
  margin: auto; /* Centers the navbar within the specified left and right */
}

.nav-item {
  color: #ffffff;
  font-size: 20px;
}

.nav-item .icon {
  font-size: 3rem; /* Adjust based on the height of your navbar */
}

.nav-item.active {
  color: #FE9801; 
}

.nav-item:not(.active):hover {
  color: #3f3f3f; 
}

.icon {
  padding: calc(1px + 1vmin); 
  font-size: calc(16px + 1vmin); 
}
