/* src/css/Navbar.css */
.navbar {
  position: fixed;
  bottom: 2.5%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4F4A45;
  padding: 2em;
  border-radius: calc(40px + 5vmin);
  width: 78%;
  height: 4%;
  margin: auto;
}

.nav-item {
  color: #ffffff;
  font-size: 20px;
  padding: 0 10px;
  position: relative; /* Required for absolute positioning of the pseudo-element */
}

.nav-item img {
  width: 3em;
  height: 3em;
  transition: transform 0.3s ease, fill 0.3s ease;
}

.nav-item:hover img {
  transform: scale(1.1);
}

.nav-item.selected img {
  filter: brightness(0) saturate(100%) invert(56%) sepia(57%) saturate(1274%) hue-rotate(359deg) brightness(103%) contrast(100%);
}

.nav-item.selected::after {
  content: '';
  border-radius: calc(40px + 5vmin);
  position: absolute;
  bottom: -10px; 
  transform: translateX(-50%);
  width: 60%;
  height: 0.4em;
  background-color: #FE9801;
}

.home.nav-item.nav-item.selected::after {
  left: 64%;
}
.heart.nav-item.nav-item.selected::after {
  left: 50%;
  width: 70%;
}
.history.nav-item.nav-item.selected::after {
  left: 50%;
  width: 75%;

}
.account.nav-item.nav-item.selected::after {
  left: 35%;
  width: 55%;
}

.nav-item:first-child {
  padding-left: 2em;
}

.nav-item:last-child {
  padding-right: 2em;
}

.icon {
  padding: calc(1px + 1vmin);
  font-size: calc(16px + 1vmin);
}


