/* src/css/Navbar.css */

.navbar {
  position: fixed;
  bottom: 2%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4F4A45;
  padding: 2em; 
  border-radius: calc(40px + 5vmin);
  width: 80%;
  margin: auto;
}

.nav-item {
  color: #ffffff;
  font-size: 20px;
  padding: 0 10px;
}

.nav-item img {
  width: 3em;
  height: 3em;
  transition: transform 0.3s ease, fill 0.3s ease;  
}

.nav-item:hover img {
  transform: scale(1.1);
}

.nav-item.selected img {
  filter: invert(61%) sepia(89%) saturate(3433%) hue-rotate(358deg) brightness(103%) contrast(101%);
}


.nav-item:first-child {
  padding-left: 1em;  
}

.nav-item:last-child {
  padding-right: 1em;  
}

.icon {
  padding: calc(1px + 1vmin); 
  font-size: calc(16px + 1vmin); 
}
