/* Preferences Page Container */
.preferences-container {
  padding: 20px;
}

/* Header */
.preferences-container .header {
  font-size: 2.5vh;
  margin-bottom: 10px;
  font-weight: bold;
}

  /* Back Button */
.back-button {
  width: 6vh;
  height: 6vh;
  background: none;
  border: none;
  color: #333;
  font-size: 4.5vh;
  padding: 0;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.back-button::before {
  content: '←';
  font-size: 4.5vh;
  font-weight: 600;
  margin-bottom: 6%;
}

.back-button:hover {
    color: #000;
}
  
/* Preference List Styling */
.preference-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

/* Preference Item (Button) */
.preference-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 1vh 2vh;
  cursor: pointer;
  font-size: 1.5vh;
  transition: background-color 0.3s ease;
}

/* Preference Item when selected */
.preference-item.selected {
  background-color: #A8D671;  /* Light green when selected */
  border-color: #A8D671;
  color: white;
}

/* Search Button */
.search-button {
  background-color: #FFA500;  /* Orange button */
  color: white;
  font-size: 1.5vh;
  padding: 10px;
  border: none;
  border-radius: 25px;
  width: 100%;
  cursor: pointer;
}

/* Permanent Filter Label */
.permanent-filter {
  font-size: 1.25vh;
  color: #888;
}
  