@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


.profile-container {
    display: flex;
    flex-direction: column;
    height: 20vh;
    margin: 1rem;
}

.userData-container {
    margin: 1rem;
    padding: 1.5vh;
    min-height: 60vh;
    background-color: #FFFDF6;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #cacaca;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1.7;
}

.profile-pic {
    display: flex;
    flex-direction: column;
    height: 80%;
    border-radius: 10px;

}

#pic-border {
    position: absolute;
    top: -45%;
    height: 110%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    justify-self: center;
}

.pic-con {
    position: relative;
    height: 70%;
    background-color: #FFFDF6;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #cacaca;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.setting-container {
    position: relative;
    margin-top: 2%;
    height: 13%;
    justify-content: flex-end;
    display: flex;
    z-index: 20;
}

.setting-container img {
    height: 100%;
    opacity: 80%;
}

.border-box {
    height: 40%;
    /* background-color: brown; */
    opacity: 0;
}

.nameplace {
    position: relative;
    top: -20px;
    font-size: 1.2rem;
    justify-self: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

#pic-pro {
    border: 5px solid #CCDA46;
    position: relative;
    top: -20px;
    left: auto;
    transform: none;
    height: 90px;
    width: 90px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    z-index: 1;
    object-fit: cover;
}

.data-box-top {
    padding: 0.5rem 1rem;
    /* margin-bottom: 2%; */
}

.data-box-bottom {
    padding: 0.5rem 1rem;
}

.logout-place {
    /* background-color: #a9987e; */
    height: 60%;
    display: flex;
    /* justify-items: center; */
    justify-content: center;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
}

.logout-button {
    width: 60%;
    background-color: #FE9801;
    border-radius: 50px;
    height: 50px;
    font-size: 1rem;
    color: #FFFDF6;
    border: 0;
    font-weight: bold;
    font-family: 'Manrope', sans-serif;
    
}

.data-box-top .title {
    font-size: 1rem;
    color: #FE9801;
    font-weight: bold;
    font-family: 'Manrope', sans-serif;
}

.data-box-bottom .title {
    font-size: 1rem;
    color: #697C37;
    font-weight: bold;
    font-family: 'Manrope', sans-serif;
}

.data-box-top .data {
    font-weight: 700;
    font-size: 18px;
    margin-left: 14px;
    font-family: 'Quicksand';
}

.data-box-bottom .data {
    font-weight: 700;
    font-size: 18px;
    margin-left: 14px;
    font-family: 'Quicksand';
}

.separator {
    height: 1px;
    background-color: #7d7d7d;
    margin: 0 auto;
    width: 90%;
    flex-shrink: 0;
}